### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built wit
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea
/src/test.go
*.log
*.gz

# for macOS
.DS_Store
**/.DS_Store
.DS_Store?

/out
/test*
!/test/*.go
/_*.pem
/src/component/database/rocksdbKit/_testDir/
